@import 'variables';

/// media queries to add column header annotation or mobile friendly representation
/// adds header content from text-th attribute before each table cell
@media
only screen
and (max-width: 830px), (min-device-width: 814px)
and (max-device-width: 811px)  {
  td:nth-of-type(1):before { font-weight:bold; content: attr(text-th) ": "; }
  td:nth-of-type(2):before { font-weight:bold; content: attr(text-th) ": "; }
  td:nth-of-type(3):before { font-weight:bold; content: attr(text-th) ": "; }
  td:nth-of-type(4):before { font-weight:bold; content: attr(text-th) ": "; }
  td:nth-of-type(5):before { font-weight:bold; content: attr(text-th) ": "; }
  td:nth-of-type(6):before { font-weight:bold; content: attr(text-th) ": "; }
  td:nth-of-type(7):before { font-weight:bold; content: attr(text-th) ": "; }
  td:nth-of-type(8):before { font-weight:bold; content: attr(text-th) ": "; }
  td:nth-of-type(9):before { font-weight:bold; content: attr(text-th) ": "; }

  thead, tfoot {
    background: $table-bg;
  }
  /// change evens tr background for more comfortable table read on mobile devices
  tbody tr:nth-child(even) {
    background: $table-rows-even-bg;
  }

  tbody .ui.checkbox .box:after, .ui.checkbox label:after {
    top: 3px;
  }

  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 1em;
    margin-bottom: 0.3em;
  }

  .ui.checkbox .box:before, .ui.checkbox label:before {
    top: 3px;
  }

  .custom-input-tbl-inpt {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .ui.table:not(.unstackable) tr > th, .ui.table:not(.unstackable) tr > td {
    background: none;
    border: none !important;
    padding: 0.25em 0.75em !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .ui.table:not(.unstackable) tbody, .ui.table:not(.unstackable) tr,
  .ui.table:not(.unstackable) tr > th, .ui.table:not(.unstackable) tr > td {
    width: auto !important;
    display: block !important;
  }

  thead tr {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }

  tbody tr {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  tfoot tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .ui.table:not(.unstackable) tr {
    padding-top: 1em;
    padding-bottom: 1em;
    -webkit-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset !important;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset !important;
  }
}

@media
only screen and (max-width: 977px) {
  .ui.input > input{
    padding: 0.67857143em 0.1em;
  }
}