@mixin center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

@mixin table-buttons-transition{
  transition: all ease-in-out .3s;
}

@mixin input-hover-transition{
  transition: all ease-in-out .15s;
}
