/// Main used colors
$main-background: rgba(247, 247, 247, 0.08);
$input-border: rgba(34, 36, 38, 0.15);
$input-border-hover: rgba(0, 0, 0, 0.5);
$table-bg: #f7f7f7;
$table-rows-even-bg: #e7e7e7;
$main-blue: #1976d2;
$label-color: rgba(34, 36, 38, 0.5);
$error-red: #f44336;
$dark-blue: #424b81;